 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>O nás</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    Zajišťujeme komplexní služby v BOZP a PO, včetně koordinace staveb. Spolupracujeme s revizními techniky a osobami odborně způsobilými dle konkrétních požadavků zákazníka tak, abychom společně plně pokryli veškeré požadavky zákazníka, vč. např. zpracování systému HACCP.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    Naše firma poskytuje služby v BOZP a PO již od roku 2009, (nejprve jako OSVČ) od roku 2019 proběhla změna právní subjektivity a bylo založena společnost SLUŽBY BOZP a PO s.r.o., která je pokračovatelem a přebrala veškeré smluvní závazky OSVČ. Nezakládáme si ani tak na reklamě, spíše se naše služby rozšiřují díky dobrým referencím stávajících zákazníků zákazníkům novým.
                </p>
            </div>
        </div>
    </div>
</section>
