    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="skills">
                            Naše společnost zajišťuje služby v oblasti BOZP a PO pro cca 150 firem od větších společností s více jak 200 zaměstnanci až po malé živnostníky v širokém spektru oborů činností.
                        </span>
                        <hr class="star-light">
                        <span class="skills">
                            Kontaktní osoby / jednatel společnosti: Jiří Syrový, tel: <a href="tel:+420775309288" style="color: #{{ site.color.secondary }};">775 309 288</a>, mail: <a href="mailto:jiri.syrovy@unet.cz" style="color: #{{ site.color.secondary }};">jiri.syrovy@unet.cz</a>
                            <br>
                            Asistentka jednatele: <a href="tel:+420739730680" style="color: #{{ site.color.secondary }};">739 730 680</a>
                            <br><br>
                            SPOLEČNOST AKTUÁLNĚ NABÍZÍ OCHRANNÉ 3-VRSTVÉ ROUŠKY ZA CENU 2,90 KČ A RESPIRÁTORY KN5 ZA 24 KČ.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
